<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>scholaris</title>
    <link rel="stylesheet" href="view3.css" />
  </head>

  <body>
    <header>
      <div class="img">
        <img src="../logo.jpg" alt="" class="one" />
        <img src="../Scholaris.png" alt="" class="two" />
      </div>
      <div class="animi">
        <marquee
          behavior="scroll"
          direction="left"
          onmousemove="this.stop();"
          onmouseout="this.start();"
        >
          Latest schlorship highlights &diams;International &diams; Exclusive
          &diams; Block are work in progress.
        </marquee>
      </div>
      <div class="nav">
        <ul>
          <a href="../Index.html" class="link">Home</a>
          <div class="dropdown">
            <a href="#" class="link">International</a>
            <div class="dropdown-content">
              <div class="card" style="width: 40rem; height: 20rem">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="link">National</a>
            <div class="dropdown-content">
              <div class="card" style="width: 40rem; height: 20rem">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="link">Exclusive</a>
            <div class="dropdown-content">
              <div class="card" style="width: 40rem; height: 20rem">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
            </div>
          </div>
          <div class="srch">
            <input type="text" placeholder="Search" />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>
          </div>
        </ul>
      </div>
    </header>

    <main>
      <div class="heading1">
        <h1>Exclusive</h1>
      </div>
      <div class="container1">
        <div class="box">
          <a href="../Exclusive/amazon.html">
            <div class="icon">
              <img
                src="../Exclusive logo/amazon-png-logo-vector-6694.png"
                alt=""
              />
            </div>
            <div class="country">Amazon</div>
          </a>
        </div>

        <div class="box">
          <a href="../Exclusive/burger-king.html">
            <div class="icon">
              <img src="../Exclusive logo/burger-king-logo-3275.png" alt="" />
            </div>
            <div class="country">Burger-King</div>
          </a>
        </div>

        <div class="box">
          <a href="../Exclusive/coco-cola.html">
            <div class="icon">
              <img src="../Exclusive logo/coca-cola-png-4631.png" alt="" />
            </div>
            <div class="country">Coco-Cola</div>
          </a>
        </div>

        <div class="box">
          <a href="../Exclusive/dell.html">
            <div class="icon">
              <img src="../Exclusive logo/dell-png-logo-3742.png" alt="" />
            </div>
            <div class="country">Dell</div>
          </a>
        </div>

        <div class="box">
          <a href="../Exclusive/delta.html">
            <div class="icon">
              <img src="../Exclusive logo/delta-logo-4200.png" alt="" />
            </div>
            <div class="country">Delta</div>
          </a>
        </div>

        <div class="box">
          <a href="../Exclusive/flipkart.html">
            <div class="icon">
              <img src="../Exclusive logo/flipkart-logo-39921.png" alt="" />
            </div>
            <div class="country">Flipkart</div>
          </a>
        </div>

        <div class="box">
          <a href="../Exclusive/google.html">
            <div class="icon">
              <img src="../Exclusive logo/google-logo-9824.png" alt="" />
            </div>
            <div class="country">Google</div>
          </a>
        </div>

        <div class="box">
          <a href="../Exclusive/john-deere.html">
            <div class="icon">
              <img
                src="../Exclusive logo/john-deere-png-logo-3408.png"
                alt=""
              />
            </div>
            <div class="country">John-deere</div>
          </a>
        </div>

        <div class="box">
          <a href="../Exclusive/microsoft.html">
            <div class="icon">
              <img src="../Exclusive logo/microsoft-logo-png-2396.png" alt="" />
            </div>
            <div class="country">Microsoft</div>
          </a>
        </div>

        <div class="box">
          <a href="../Exclusive/microsoft.html">
            <div class="icon">
              <img src="../Exclusive logo/TCS_Logo.jpg" alt="" />
            </div>
            <div class="country">TCS</div>
          </a>
        </div>

        <div class="box">
          <a href="../Exclusive/samsung.html">
            <div class="icon">
              <img src="../Exclusive logo/samsung.jpg" alt="" />
            </div>
            <div class="country">Samsung</div>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
